
/*LETTER FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--background-main-color);
    font-family: 'Poppins', sans-serif;
}

/*COLORS*/
:root{
    --background-main-color: #00A3B2;
    --background-second-color: #04B2D9;
    --main-color: #72F3FF;
    --other-first-color: #FF974D;
    --other-second-color: #D9610C;
    --other-third-color: #0D0D0D;
}

/*HEADER*/
.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--background-second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.logo{
        color: var(--text-color);
        width: 8rem;
}
.header .navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.title{
    font-size: 2rem;
    color: var(--other-second-color);
}

/*MAIN*/
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/*CONTAINER*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 9%;
    border: 2px solid var(--other-first-color);
    border-radius: 25%;
}

/*SECTIONS*/
#selectAttack{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#titulo {
    font-size: 3.5rem;
    color: var(--other-third-color);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtitulo{
    color: var(--other-second-color);
    font-size: 2.5rem;
}

/*BUTTONS ATTACK*/
.btnataques{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1rem;
    gap: 1.1rem;
}
.btnatq{
    width: 214px;
    height: 73px;
    font-size: 1.2rem;
    margin-top: 10px;
    color: var(--other-third-color);
    background: var(--other-first-color);
    border: 2px solid var(--background-second-color);
    border-radius: 2.5rem;
    cursor: pointer;
}

/*MESSAGE*/
.mensajes{
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2.5rem;
    padding: 2rem;
    border: 2px solid var(--other-second-color);
    border-radius: 20px;
    background: var(--other-first-color);
}
.inactive .reinicio{
    font-size: 1.2rem;
    width:  7rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    color: var(--other-third-color);
    border-radius: 10%;
    cursor: pointer;
}

/*ATTACKS*/
.ataques{
    display: grid;
    grid-template-columns: 200px 0.3fr 200px;
}
.msjPlayer , .msjEnemigo{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--background-second-color);
    border-radius: 10%;
    background: var(--other-first-color);
    color: var(--other-third-color);
}
.msjPlayer{
    margin-left: -110px;
    width: 280px;
}
.msjEnemigo{
    margin-left: 20px;
    width: 280px;
}
#vs_icon {
    padding-bottom: 0.5rem;
    font-size: 1.1rem;   
}